<script src="https//code.jquery.com/jquery-latest.min.js"></script>
<script src="https//unslider.com/unslider.min.js"></script>

  <div class="banner">
  	<ul>
    	<li style="background-image: url('http://i.imgur.com/QUeew3X.jpg);">First</li>
    	<li style="background-image: url('http://i.imgur.com/QUeew3X.jpg);">Second</li>
    	<li style="background-image: url('http://i.imgur.com/QUeew3X.jpg);">Third</li>
  	</ul>
  </div>
